.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5; /* white background */
    padding: 0px;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    margin-bottom: 20px;
    color: #1890ff; /* blue color */
  }
  
  .paragraph {
    margin-bottom: 40px;
    color: #333; /* dark text color */
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .button {
    margin: 0 10px;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
  }
  